<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
    <style>
            /* reset on the showcase style*/
            body .ui-panelgrid .ui-panelgrid-cell {
                background-color: transparent;
            }

            /* example use of styles for your form */
            .my-heading-row {
                background-color: var(--surface-c);
                font-weight: bold;
            }
        </style>
</h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Productos" icon="pi pi-briefcase" />
			<p:menuitem value="Ingresos" icon="pi pi-step-forward" />
			<p:menuitem value="Egressos" icon="pi pi-step-backward" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de inventario"></p:staticMessage>
	</h:form>
	<h:form id="form1">
            <div align="center">
                <p:panel header="Registrar Nuevo Producto">

                    <p:fieldset legend="Llene los campos" toggleable="true" collapsed="true">
                        <p:panel>
                            <p:panelGrid columns="1"
                                         columnClasses="ui-grid-col-12"
                                         layout="grid"
                                         styleClass="ui-panelgrid-blank ui-fluid"
                                         style="border:0px none; background-color:transparent;">
                                <p:row styleClass="my-heading-row" >
                                    Datos Producto
                                </p:row>
                            </p:panelGrid>
                            <p:panelGrid columns="4"
                                         columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
                                         layout="grid"
                                         styleClass="ui-panelgrid-blank ui-fluid"
                                         style="border:0px none; background-color:transparent;">

                                <p:outputLabel for="@next" value="ID PRODUCTO: "/>
                                <p:inputText id="a" placeholder="id-producto" 
                                             required="true" requiredMessage="Ingrese el ID de producto!">
                                    <p:tooltip for="a" value="Ingrese el ID de Producto" position="bottom"/>
                                </p:inputText>

                                <p:outputLabel for="@next" value="Nombre Producto: "/>
                                <p:inputText id="b" placeholder="Producto" value="#{beanInvProducto.nombre_producto}"
                                             required="true" requiredMessage="Ingrese el nombre del producto!">
                                    <p:tooltip for="b" value="Ingrese el nombre del producto" position="bottom"/>
                                </p:inputText>

                                <p:outputLabel for="@next" value="Descripción:"/>
                                <p:inputText id="c" placeholder="Producto" value="#{beanInvProducto.descripcion}"
                                             required="true" requiredMessage="Ingresar la descripción del producto!">
                                    <p:tooltip for="c" value="Ingrese la descripción" position="bottom"/>
                                </p:inputText>

                                <p:outputLabel for="@next" value="Precio: "/>
                                <p:spinner id="d" placeholder="10" value="#{beanInvProducto.precio}"
                                             min="0.25" max="10" stepFactor="0.25"
                                             required="true" requiredMessage="Ingrese el precio!">
                                    <p:tooltip for="d" value="Ingrese el precio" position="bottom"/>
                                </p:spinner>
                                
                                 <p:outputLabel for="@next" value="Cantidad: "/>
                                <p:spinner id="e" placeholder="10" value="#{beanInvProducto.cantidad_total}"
                                             min="0" max="10" stepFactor="1"
                                             required="true" requiredMessage="Ingrese la cantidad!">
                                    <p:tooltip for="e" value="Ingrese la cantidad" position="bottom"/>
                                </p:spinner>

                                         
                               

                                <p:outputLabel for="@next" value="Talla: "/>
                                <p:selectOneMenu value="#{beanInvProducto.id_inv_talla}" >
                                    <f:selectItems value="#{beanInvProducto.listaTalla}" var="talla" 
                                                   itemLabel="#{talla.nombreTalla}" itemValue="#{talla.idInvTalla}"/>
                                </p:selectOneMenu>

                            </p:panelGrid>
                        </p:panel>
                        <div align="center">
                            <p:panel>
                                <div align="center">
                                    <p:row>
                                        <p:commandButton value="Guardar Datos del Producto" actionListener="#{beanInvProducto.actionlistenerInsertar()}" 
                                                         update=":form2"
                                                         styleClass="p-mr-2" style="width: auto"/>
                                    </p:row>
                                </div>
                            </p:panel>
                        </div>
                    </p:fieldset>
                </p:panel>
            </div>
        </h:form>
	      <h:form id="form2">
	        <p:panel header="Productos Registrados">
                    <p:fieldset legend="Lista de Productos" toggleable="true" collapsed="true">
                        <p:panel>

                            <p:dataTable var="producto" value="#{beanInvProducto.listaProductos}" paginator="true" stripedRows="true" rows="5">


                                <p:column headerText="Id-Producto" sortBy="#{producto.idProd}" filterBy="#{producto.idProd}">
                                    <span class="flag flag-#{producto.idProd}" style="width: 30px; height: 20px" />
                                    <h:outputText style="vertical-align: middle; margin-left: .5rem" value="#{producto.idProd}" />
                                </p:column>

                                <!-- id_departamento | numero_casa | numero_parqueadero | estado_departamento -->
                                <p:column headerText="Nombre" sortBy="#{producto.nombreProducto}" filterBy="#{producto.nombreProducto}">
                                    <span class="flag flag-#{producto.nombreProducto}" style="width: 30px; height: 20px" />
                                    <h:outputText value="#{producto.nombreProducto}"/>
                                </p:column>

                                <p:column  headerText="Descripción" filterBy="#{producto.descripcion}">
                                    <span class="flag flag-#{producto.descripcion}" style="width: 30px; height: 20px" />
                                    <h:outputText value="#{producto.descripcion}"/>
                                </p:column>

                                <p:column  headerText="Precio" filterBy="#{producto.precio}">
                                    <span class="flag flag-#{producto.precio}" style="width: 30px; height: 20px" />
                                    <h:outputText value="#{producto.precio}"/>
                                </p:column>
                                  <p:column  headerText="Cantidad" filterBy="#{producto.cantidadTotal}">
                                    <span class="flag flag-#{producto.cantidadTotal}" style="width: 30px; height: 20px" />
                                    <h:outputText value="#{producto.cantidadTotal}"/>
                                </p:column>
                                <p:column headerText="Opciones" >
                                    <p:commandButton value="Eliminar" icon="fa fa-trash" styleClass="ui-button-danger" title="Eliminar" 
                                                     actionListener="#{beanInvProducto.actionlistenerEliminarInvProducto(producto.idProd)}" update=":form2">
                                        <p:confirm header="Confirmación " message="¿Está seguro de eliminar el producto?" icon="pi pi-info-circle"/>
                                    </p:commandButton>
                                    <p:confirmDialog global="true" showEffect="explode" hideEffect="explode" responsive="false" width="350">
                                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check"/>
                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat" icon="fa fa-close"/>
                                    </p:confirmDialog>
                                    <p:commandButton value="Editar" id="cmdEdicion" icon="fa fa-edit" styleClass="ui-button-info" 
                                                     />
                                </p:column>               

                            </p:dataTable>
                        </p:panel>

                    </p:fieldset>
                </p:panel>
	      </h:form>
	<div></div>
</body>
</html>
