<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Usuarios</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Nuevo proveedor" icon="pi pi-user-plus"
				action="#{beanProveedor.actionMenuNuevoProveedor()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<h:form>
			<p:dataTable value="#{beanProveedor.listaProveedores}" var="proveedor"
				paginator="true" rows="5">
				<p:column headerText="RUC">
					<h:outputText value="#{proveedor.rucCompProveedor}" />
				</p:column>
				<p:column headerText="APELLIDOS" filterBy="#{usuario.apellidoProve}"
					filterMatchMode="contains">
					<h:outputText value="#{proveedor.apellidoProve}" />
				</p:column>
				<p:column headerText="NOMBRES" filterBy="#{usuario.nombreProve}"
					filterMatchMode="contains">
					<h:outputText value="#{proveedor.nombreProve}" />
				</p:column>
				<p:column headerText="DIRECCION" filterBy="#{usuario.direccionProve}"
					filterMatchMode="contains">
					<h:outputText value="#{proveedor.direccionProve}" />
				</p:column>
				<p:column headerText="TELEFONO" filterBy="#{usuario.telefonoProve}"
					filterMatchMode="contains">
					<h:outputText value="#{proveedor.telefonoProve}" />
				</p:column>
				<p:column headerText="CORREO" filterBy="#{usuario.correoPrive}"
					filterMatchMode="contains">
					<h:outputText value="#{proveedor.correoPrive}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-pencil" title="editar"
						action="#{beanProveedor.actionSeleccionarEdicionProveedor(usuario)}" />
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanProveedor.actionListenerEliminarUsuario(usuario.rucCompProveedor)}">
						<p:confirm header="Confirmación"
							message="Desea borrar este proveedor?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>
