<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head> 
<body> 
<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />			
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo Compras"></p:staticMessage>
	</h:form>
	<p:panel>
	<h:form>
			<p:dataTable value="#{beanCompras.listaCompras}" var="f"
				paginator="true" rows="5">
				<p:column headerText="ID">
					<h:outputText value="#{f.id_comp_proveedor_detalle}" />
				</p:column>
				<p:column headerText="Proveedor" filterBy="#{f.ruc_comp_proveedor}"
					filterMatchMode="contains">
					<h:outputText value="#{f.ruc_comp_proveedor}" />
				</p:column>
				<p:column headerText="Fecha">
					<h:outputText value="#{f.fecha}" />
				</p:column>
				<p:column headerText="Cantidad">
					<h:outputText value="#{f.cantidad_comp}" />
				</p:column>
				<p:column headerText="Precio">
					<h:outputText value="#{f.precio_comp}" />
				</p:column>

				<p:column headerText="TotalApagar">
					<h:outputText value="#{f.total_comp}" />
				</p:column>				
			</p:dataTable>
		</h:form>
	</p:panel>
</body> 
</html>
